* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    padding: 1rem;
}

h1 {
    margin-bottom: 2rem;
}

.men-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

#alertCont {
    position: fixed;
    bottom: 0;
    right: 0;
    .alert {
        gap: 1rem;
    }
}