* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel img{
    height: 600px;
}

.ofertas {
    padding: 1rem;
    margin: 1rem;
    h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}